html {
  background-color: #7D7461;
}

body{
  margin: 0;
}
/* Style the form */
form {
  background-color: #202030;
  padding: 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  height: 37vh;
  width: 15vw;
}


label {
  display: inline-block;
  width: 100px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  color: white
}


input[type="date"], input[type="number"], input[type="text"], select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
  width: 100px;
  font-size: 12px;
}
/* End of Form */
input[type="submit"], .book-trip {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

/* Hovers */
input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Media Scroller */
.accepted-element, .pending-element {
  display: inline-flex;
  margin-right: 16px;
  vertical-align: top;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background: 10px;
  border-radius: 10px;
}

.media-scroller {
  background-color: #B0A990;
  color: white;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}

.card > img {
  border: 1px solid black;
  aspect-ratio: 16/9;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  position: relative;
  z-index: 1;
}

.card{
  background-color: #202030;
  height: 300px;
  width: 300px;
  display: block;
  position: relative;
  overflow: hidden;

}

/* text styling for media scroller */
.card-info {
  color: white;
  font-size: medium;
  font-weight: 300;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  margin: auto; 
  width: fit-content;
  z-index: 2;
  padding-bottom: 25px;
}

.main-title {
  background-image: url(https://www.shutterstock.com/image-photo/travel-concept-background-summer-header-260nw-1401394727.jpg);
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #202030;
  background-color:#B0A990;
  font-weight: bold;
  font-size: 50px;
  border: 2px solid #B0A990;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 100px;
  height: 25vh;
}

.total-trips, .amount-trips {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  padding-right: 100px;
  font-size: 25px;
  color: #202030;
  font-weight: bold;
  margin-top: 5px;
  margin-left: auto;
  width: 35vw;
}

h2 {
  font-size: 50px;
}

/** color palette #202030 #39304A #635C51 #7D7461 #B0A990 **/